.register-container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.register-form {
    display: flex;
    flex-direction: column;
}

.register-form div {
    margin-bottom: 15px;
}

.register-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.register-form input:focus {
    border-color: #007bff;
    outline: none;
}

.error-message{
    color: red;
    font-size: 14px;
    text-align: center;
}